<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to 'Wikinimous', articles_path %>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
  </div>
</nav>
